.box{
	background: url(https://trueimages.ru/img/00/05/5931a916.png);
}

body{
  background: url("https://trueimages.ru/img/00/05/5931a916.png");
  height: 2000px;
  background-repeat: no-repeat;
  background-position: center;
  }
body{
	font-family: 'Montserrat', sans-serif;
}
