.box{
	background: url(rem.png);
}

body{
  background: url("rem.png");
  height: 2000px;
  background-repeat: no-repeat;
  background-position: center;
  }
body{
	font-family: 'Montserrat', sans-serif;
}
